<mat-toolbar class="sticky-top navbar navbar-expand-md">
  <button mat-button (click)="sideNav.toggle()" class="navbar-toggler navbar-toggler-right border-0 text-white ">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button class="navbar-brand text-light visible-xs-block text-center text-light" style="float: none;" routerLink="/main">
    <em class="fa d-inline fa-md fa-leaf"> </em>
    <strong> Fabrícia Eliane</strong>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto text-light">
      <li class="nav-item">
        <button mat-button id="divagacoes" routerLink="/articles/1">Divagações</button>
      </li>
      <li class="nav-item">
        <button mat-button id="contos" routerLink="/contos/3">Contos</button>
      </li>
      <li class="nav-item">
        <button mat-button id="memories" routerLink="/memories/2">Memórias</button>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="projectsMenu" id="projects">Projetos <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #projectsMenu="matMenu">
          <button mat-menu-item class="text-white" routerLink="/projects">Oficinas</button>
          <button mat-menu-item class="text-white">Performances</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button id="youtube"  routerLink="/youtubevid/0">YouTube</button>
      </li>
      <li class="nav-item">
        <button mat-button id="fotos"  routerLink="/fotos">Fotos</button>
      </li>
    </ul>
  </div>
  <div class="hidden-xs-block d-none d-lg-block d-md-block">
    <ul class="navbar-nav text-light">
      <li class="nav-item">
        <button mat-icon-button class="nav-link" href="https://instagram.com/fabricia.eliane?igshid=1p1z5xy7003no" target="_blank">
          <em class="fa fa-fw fa-instagram"></em>
        </button>
      </li>
      <li class="nav-item">
        <button mat-icon-button class="nav-link" href="http://youtube.com/c/FabriciaEliane" target="_blank">
          <em class="fa fa-fw fa-youtube-play"></em>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav>
    <mat-nav-list>
      <a mat-list-item routerLink="/articles/1"> Artigos </a>
      <a mat-list-item routerLink="/contos/3"> Memórias </a>
      <a mat-list-item routerLink="/memories/2"> Contos </a>
      <button mat-list-item [matMenuTriggerFor]="projectsMenu" id="projects"> Projetos <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #projectsMenu="matMenu">
          <button mat-menu-item class="text-white" routerLink="/projects"> Oficinas </button>
          <button mat-menu-item class="text-white"> Performances </button>
        </mat-menu>
      <a mat-list-item routerLink="/fotos"> Fotos </a>
      <a mat-list-item href="https://instagram.com/fabricia.eliane?igshid=1p1z5xy7003no" target="_blank"> Instagram </a>
      <a mat-list-item href="http://youtube.com/c/FabriciaEliane" target="_blank"> YouTube </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>