<div class="modal" [style.display]="shouldShowTestimonialModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title">Depoimentos</h5> <button type="button" class="close" data-dismiss="modal"> <span (click)="showTestimonialModal()">×</span> </button>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow: auto">
        <div class="py-5" *ngFor="let testimonial of testimonials; let even = even; let odd = odd">
          <div class="container">
            <div class="row">
              <div class="col-md-2 mx-auto p-2" *ngIf="even">
                <img class="rounded-circle" src={{testimonial.pictureUrl}} width="110" height="110" alt="">
              </div>
              <div class="p-3 col-md-8">
                <div class="blockquote mb-0">
                  <p>{{testimonial.text}}</p>
                  <div class="blockquote-footer">
                    <strong>{{testimonial.name}}</strong> <div *ngIf="testimonial?.role">, {{testimonial.role}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 mx-auto p-2" *ngIf="odd">
                <img class="rounded-circle" src={{testimonial.pictureUrl}} width="110" height="110" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showTestimonialModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [style.display]="shouldShowResumeModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{resume.title}}</h5> <button type="button" class="close" data-dismiss="modal"> <span (click)="showResumeModal()">×</span> </button>
      </div>
      <div class="modal-body">
        <p>{{resume.text}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showResumeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="py-3 bg-dark" style="width: 100%; position: relative; bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 p-3">
        <h5 class="text-light">
          <strong>Principal</strong>
        </h5>
        <ul class="list-unstyled text-danger">
          <li>
            <a routerLink="/main" class="text-danger">Home</a>
          </li>
          <li>
            <a routerLink="/articles/1" class="text-danger">Divagações</a>
          </li>
          <li>
            <a routerLink="/contos/3" class="text-danger">Contos</a>
          </li>
          <li>
            <a routerLink="/memories/2" class="text-danger">Memórias</a>
          </li>
          <li>
            <a routerLink="/youtubevid/0" class="text-danger">Vídeos no YouTube</a>
          </li>
          <li>
            <a routerLink="/fotos" class="text-danger">Galeria de Fotos </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 p-3">
        <h5 class="text-light"> <strong>Sobre</strong> </h5>
        <ul class="list-unstyled text-danger">
          <p class="text-danger" (click)="showResumeModal()">Carreira</p>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 p-3 text-light">
        <h5> <strong>Depoimentos</strong> </h5>
        <p class="text-danger" (click)="showTestimonialModal()">Veja o que pessoas que trabalharam com a Fabrícia acham do trabalho dela.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <h5 class="text-light"> <strong>Me siga no Instagram e YouTube</strong> </h5>
        <div class="row text-danger">
          <div class="col-md-12 d-flex align-items-center justify-content-between my-2">
            <a href="https://instagram.com/fabricia.eliane?igshid=1p1z5xy7003no" target="_blank">
              <em class="d-block fa fa-instagram fa-lg mx-2 text-danger"></em>
            </a>
            <a href="http://youtube.com/c/FabriciaEliane" target="_blank">
              <em class="d-block fa fa-youtube-play fa-lg mx-2 text-danger"></em>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0 mt-2 text-muted">© 2020 Fabrícia Eliane. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
