  <div class="py-5">
    <div class="justify-content-center flex-grow-1 align-items-center d-flex container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-12" >
          <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
              <div class="container py-5">
                <div class="row">
                  <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="display-3 mb-4">Contos Infantis</h1>
                    <p class="lead mb-5">Contos para embalar e inspirar a imaginação dos pequenos.</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-lg mx-1 btn-outline-primary btn-block" [routerLink]="['podcast', {'podcastType': 'infantil'}]">Vamos lá</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-12">
          <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
            <div class="container py-5">
              <div class="row">
                <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12">
                  <h1 class="display-3 mb-4">Histórias Para Não Dormir</h1>
                  <p class="lead mb-5">Histórias geralmente ligadas ao sobrenatural, ao fantśtico e ao assustador, não recomendado para crianças ou pessoas impressionáveis.</p>
                  <a class="btn btn-lg mx-1 btn-outline-primary btn-block" [routerLink]="['podcast', {'podcastType': 'nonSleep'}]">Prossiga com cautela</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 91px;"></div>
  </div>
