  <div class="py-5" style="overflow-x: hidden">
    <div class="justify-content-center align-items-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-white" >Últimos Episódios Lançados em {{podcastType}}</h1>

          <div data-simplebar data-simplebar-auto-hide="false" class="scrollable">
            <div *ngFor="let podcast of podcasts" class="justify-content-center align-items-center pb-1 pt-1 mx-5">
              <div class="col-1"></div>
              <div class="col-11">
                <div class="card pi-draggable bg-secondary">
                  <div class="row">
                    <div class="col-2">
                      <img class="align-items-center"
                          src={{podcast.backgroundPath}}
                          alt="{{podcast.title}}" height="180px" width="180px">
                    </div>
                    <div class="col-10">
                      <div style="position: relative mr-4">
                        <div class="card-body" style="right: 0px">
                          <h4 class="card-title text-right">{{podcast.title}}</h4>
                          <div class="justify-content-center">
                            <p style="overflow: hidden; text-overflow: ellipsis; line-height: 15px; max-height: 70px;">{{podcast.description}}</p>
                          </div>
                          <small>
                            <em class="fa d-inline fa-md fa-clock-o"> </em> {{podcast.episodeLength}} - <em class="fa d-inline fa-md fa-calendar"> </em> {{podcast.episodePublicationDate}}
                          </small>
                          <button mat-button class="mb-2 mr-4 btn-info btn-lg" style="position: absolute; bottom: 0px; right: 0px;">
                            <a class="text-light" (click)="getPodcast(podcast.id)">Tocar episódio</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card pi-draggable pl-5 m-5" style="background-color: rgba(0, 0, 0, 0.5)">
            <div class="row">
              <div class="col-12">
                <div class="audio-player py-3 mx-2 align-items-center">
                  <div class="col-2">
                    <em id="play-btn" class="fa d-inline fa-play-circle fa-w-16 fa-x7"></em>
                  </div>
                  <div class="col-6">
                    <div class="player-controls scrubber pl-4 pr-2">
                      <p>{{selectedPodcast.title}}</p>
                      <span id="seek-obj-container">
                        <progress id="seek-obj" value="0" max="1"></progress>
                      </span>
                      <small style="color: white; float: left; position: relative; left: 15px;" id="start-time"></small>
                      <small style="color: white; float: right; position: relative; right: 20px;" id="end-time"></small>
                    </div>
                    <div class="audio-wrapper" id="player-container" href="javascript:;">
                      <audio id="player" ontimeupdate="initProgressBar()">
                        <source src={{selectedPodcast.episodePath}} type="audio/mp3">
                      </audio>
                    </div>
                  </div>
                  <div class="col-4">
                      <img class="w-100 d-flex" style="box-orient: horizontal;"
                          src={{selectedPodcast.backgroundPath}}
                          alt="Card image cap" height="180px" width="180px">
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
