<ng-container *ngIf="videos?.length">
  <div class="text-center text-white h-100 align-items-center d-flex py-0 d-flex flex-grow-1">
    <div class="container">
      <div class="row mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 p-2">
              <div class="row m-3">
                <ng-container *ngIf="selectedVideo?.title">
                  <div class="embed-responsive pi-draggable embed-responsive-16by9" draggable="true">
                    <iframe [src]="videoUrl" allowfullscreen="" encrypted-media class="embed-responsive-item" title="{{selectedVideo.title}}"></iframe>
                  </div>
                  <div class="row mx-auto">
                    <div class="blockquote pi-draggable" draggable="true">
                      <h1 class="mx-2">{{selectedVideo.title}}</h1>
                      <div class="blockquote-footer">
                        <cite class="mx-2" title="Source Title">{{selectedVideo.description}}</cite>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-2">
              <ng-container *ngIf="videos?.length">
                <h1>Mais Vídeos</h1>
                <div data-simplebar data-simplebar-auto-hide="false" class="pi-draggable scrollable" draggable="true">
                  <div *ngFor="let video of videos" class="row px-2 pb-2" (click)="selectVideo(video.id)">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4">
                      <img class="card-img-top" src="{{video.pictureUrl}}" alt="{{video.title}}">
                      <h4 class="card-title text-left">{{video.title}}</h4>
                      <div class="blockquote-footer text-left" >
                        <cite title="Source Title">{{video.description}}</cite>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: 94px;"></div>
</ng-container>