<div class="col-12">
  <div class="container">
    <div class="row">
      <div class="py-5" ngShow="project.cardPicture">
        <div class="row">
          <div class="col-12 mb-5">
            <h1 style="white-space: pre-wrap;" class="text-light text-center mx-2">{{project.title}}</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-12 col-sm-12">
              <div class="row w-100">
                <img class="img-fluid" src={{project.articleTO.backgroundPath}} alt="">
                <div>
                  <p style="white-space: pre-wrap;" class="font-weight-normal mb-0 text-justify text-light d-flex flex-grow-0">{{project.articleTO.text}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 col-sm-12">
              <div class="container-fluid">
                <div class="d-flex flex-row flex-wrap justify-content-center">
                  <div *ngIf="project.albumTO.pictureArrays?.length > 0; then pictureArraysBlock else picturesBlock"></div>
                  
                  <ng-template #pictureArraysBlock>
                    <div *ngFor="let array of project.albumTO.pictureArrays">
                      <div *ngFor="let picture of array.picture" class= "d-flex flex-column">
                        <div class="w-auto">
                          <div class="img-thumbnail">
                            <img src={{picture.pathUrl}} class="img-fluid" alt="{{picture.pathUrl}}">
                            <div class="caption">
                              <p>Fotografia: {{picture.credits}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #picturesBlock>
                    <div *ngFor="let picture of project.albumTO.pictures" class= "d-flex flex-column">
                      <div class="w-auto mb-3">
                        <div class="img-thumbnail">
                          <img src={{picture.pathUrl}} class="img-fluid" alt="{{picture.pathUrl}}">
                          <div class="caption">
                            <p>Fotografia: {{picture.credits}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>