.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/images/fundo.jpg');
  background-color: rgba(0, 0, 0, 0.75);
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: repeat, repeat;
}
