<div class="text-center text-white align-items-center d-flex py-0 pb-5 background content data-simplebar">
  <div class="container py-5">
    <div class="row py-5">
      <div class="mx-auto col-lg-8 col-md-10 col-sm-10 col-10">
        <h2 class="display-4 mb-4">Narradora</h2>
        <p class="lead mb-5">Contadora de histórias, escritora de contos, uma artista que narra o mundo infantil... (continuar um texto melhor que esse, rsrs)</p>
        <button mat-raised-button routerLink="/youtubevid/0" class="btn btn-lg m-1 btn-danger">YouTube</button>
        <button mat-raised-button href="http://mamaepolenta.blogspot.com/" target="_blank" class="btn btn-lg m-1 btn-danger">Blog</button>
        <button mat-raised-button routerLink="/fotos" class="btn btn-lg m-1 btn-danger">Fotos de Eventos</button>
      </div>
    </div>
    <br>
    <div class="row pb-2">
      <div class="col-md-4">
        <div class="py-5 text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-left">Últimos videos no YouTube</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="carousel slide" data-ride="carousel" id="carousel" width="90" height="90">
          <div class="carousel-inner">
            <div *ngFor="let youtubevid of youtubevids; let i = index" [ngClass]="i === 0 ? 'carousel-item active' : 'carousel-item'" routerLink="/youtubevid/{{youtubevid.id}}">
              <img class="d-block img-fluid w-100 rounded" src={{youtubevid.pictureUrl}} alt="">
              <div class="carousel-caption rounded" style="background-color: rgba(0, 0, 0, 0.25)">
                <h5 class="text-white p-0">{{youtubevid.title}}</h5>
                <p class="text-white p-0">{{youtubevid.description}}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
