.background {
  background-color: rgba(0, 0, 0, 0.75);
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: repeat, repeat;
}

.content {
  height: 1120px;
  display: block;
}

::ng-deep .mat-menu-content {
  background-color: #dc3545 !important;
}

::ng-deep .mat-toolbar {
  background-color: #dc3545 !important;
}

.example-container {
  width: inherit !important;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  background-color: #dc3545 !important;
  padding: 20px;
}

::ng-deep .mat-drawer-content {
  display: flex;
  width: inherit !important;
  flex-direction: column;
  align-items: flex-start;
}
