    <!-- page header -->
    <mat-toolbar class="sticky-top navbar navbar-expand-md">
      <button mat-button (click)="sideNav.toggle()" class="navbar-toggler navbar-toggler-right border-0 text-white ">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button class="navbar-brand text-light visible-xs-block text-center text-light" style="float: none;" routerLink="/main">
        <em class="fa d-inline fa-md fa-leaf"> </em>
        <strong> Fabrícia Eliane</strong>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto text-light">
          <li class="nav-item">
            <button mat-button id="divagacoes" routerLink="/articles/1">Divagações</button>
          </li>
          <li class="nav-item">
            <button mat-button id="contos" routerLink="/contos/3">Contos</button>
          </li>
          <li class="nav-item">
            <button mat-button id="memories" routerLink="/memories/2">Memórias</button>
          </li>
          <li class="nav-item">
            <button mat-button [matMenuTriggerFor]="projectsMenu" id="projects">Projetos <mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #projectsMenu="matMenu">
              <button mat-menu-item class="text-white" routerLink="/projects">Oficinas</button>
              <button mat-menu-item class="text-white">Performances</button>
            </mat-menu>
          </li>
          <li class="nav-item">
            <button mat-button id="youtube"  routerLink="/youtubevid/0">YouTube</button>
          </li>
          <li class="nav-item">
            <button mat-button id="fotos"  routerLink="/fotos">Fotos</button>
          </li>
        </ul>
      </div>
      <div class="hidden-xs-block d-none d-lg-block d-md-block">
        <ul class="navbar-nav text-light">
          <li class="nav-item">
            <button mat-icon-button class="nav-link" href="https://instagram.com/fabricia.eliane?igshid=1p1z5xy7003no" target="_blank">
              <em class="fa fa-fw fa-instagram"></em>
            </button>
          </li>
          <li class="nav-item">
            <button mat-icon-button class="nav-link" href="http://youtube.com/c/FabriciaEliane" target="_blank">
              <em class="fa fa-fw fa-youtube-play"></em>
            </button>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <mat-drawer-container class="example-container">
      <mat-drawer #sideNav class="example-sidenav text-light">
        <mat-nav-list>
          <a class="text-white" mat-list-item routerLink="/articles/1"> Artigos </a>
          <a class="text-white" mat-list-item routerLink="/contos/3"> Memórias </a>
          <a class="text-white" mat-list-item routerLink="/memories/2"> Contos </a>
          <mat-accordion>
            <mat-expansion-panel hideToggle class="btn-danger mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title class="text-white">Projetos</mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-button class="text-white text-left w-100" routerLink="/projects"> Oficinas </button>
              <br>
              <button mat-button class="text-white text-left w-100"> Performances </button>
            </mat-expansion-panel>
          </mat-accordion>
          <a class="text-white" mat-list-item routerLink="/fotos"> Fotos </a>
          <a class="text-white" mat-list-item href="https://instagram.com/fabricia.eliane?igshid=1p1z5xy7003no" target="_blank"> Instagram </a>
          <a class="text-white" mat-list-item href="http://youtube.com/c/FabriciaEliane" target="_blank"> YouTube </a>
        </mat-nav-list>
      </mat-drawer>

      <mat-drawer-content>
        <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </main>
        <app-footer></app-footer>
      </mat-drawer-content>
    </mat-drawer-container>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
