<ng-container *ngIf="articles?.length">
  <main [style.background-image]="background" class="background">
    <div class="py-5 background" ngShow="article.text">
      <div class="justify-content-center flex-grow-1 align-items-center d-flex container-fluid">
        <div class="row">

          <!-- TODO find a way to extract this on it's own module-->
          <div class="col-md-12 col-12 col-sm-12 col-lg-4 pb-5" *ngIf="articles?.length > 1">
            <mat-accordion>
              <mat-expansion-panel class="bg-secondary w-100">
                <mat-expansion-panel-header>
                  <mat-panel-title class="text-light">
                    Lista de {{articleName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <!-- TODO - use this tag instead: cdk-virtual-scroll-viewport style="height: 500px;" itemSize="10"> -->
                <div data-simplebar data-simplebar-auto-hide="false" class="pi-draggable scrollable" draggable="true">
                  <div class="list-group data-simplebar">
                    <div *ngFor="let article of articles">
                      <button mat-button class="mb-2 btn-dark btn-block btn-lg text-left"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                          (click)="getArticle(article.id)">
                        <img class="mr-3 my-3 rounded-circle" src={{article.thumbPath}} width="35" height="35" alt="">
                        <a class="text-light">{{article.title}}</a>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- </cdk-virtual-scroll-viewport> -->

              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <!-- TODO find a way to extract this on it's own module-->

          <div class="col-md-12 col-12 col-sm-12 col-lg-8 justify-content-center">
            <div id="content" class="col-12 col-sm-12 col-md-12 col-lg-12 ml-3">
              <div *ngIf="article?.backgroundPath; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <div class="row w-100">
                  <div *ngIf="article?.backgroundPath; then title else loadingTitle"></div>
                  <ng-template #title>
                    <h1 style="white-space: pre-wrap;" class="text-light text-center mx-2">{{article.title}}</h1>
                  </ng-template>
                  <ng-template #loadingTitle>
                    <h1 class="text-light text-center mx-2">Carregando título do artigo...</h1>
                  </ng-template>
                </div>
                <div class="row">
                  <div>
                    <div class="container">
                      <div class="row w-100">
                        <img style="width: 100%; height: 100%;" class="d-block rounded mx-auto img-fluid" src={{article.backgroundPath}} alt="">
                        <div class="d-flex flex-column justify-content-center p-3 order-1">
                          <div *ngIf="article?.backgroundPath; then text else loadingText"></div>
                          <ng-template #text>
                            <p style="white-space: pre-wrap;" class="font-weight-normal mb-0 text-justify text-light d-flex flex-grow-0">{{article.text}}</p>
                          </ng-template>
                          <ng-template #loadingText>
                            <h1 class="text-light text-center mx-2">Carregando texto...</h1>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #elseBlock>
                <div *ngFor="let artigo of artigos; first as isFirst; let num = index">
                  <div *ngIf="num === 0"></div>
                      <div class="row w-100">
                        <h1 class="text-light text-center mx-2">{{article.title}}</h1>
                      </div>
                      <div class="container">
                        <div class="row w-100">
                          <img class="d-block rounded mx-auto w-100 h-100" src={{article.backgroundPath}} alt="">
                          <div class="d-flex flex-column justify-content-center p-3 order-1">
                            <p class="lead mb-0 text-justify text-light break d-flex flex-grow-0">{{article.text}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 181px;"></div>
    </div>
  </main>

</ng-container>