.background {
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover, cover;
  height: 100%;
  width: 100%
}
