<ng-container *ngIf="resumedProjects?.length">
  <div class="py-5">
    <div class="justify-content-center flex-grow-1 align-items-center d-flex container-fluid">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12">
        <div class="container">
          <div *ngFor="let resumedProject of resumedProjects, let even = even; let odd = odd" class="row w-100">
            <button mat-button class="bg-secondary btn-block btn-lg mb-5" [routerLink]="['project', {'id':resumedProject.id}]">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12" *ngIf="even">
                    <img class="my-3 rounded-circle background" src="{{resumedProject.cardPicture}}" width="120" height="120" alt="">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="container">
                      <div class="row my-2">
                        <a class="text-light m-auto p-auto">{{resumedProject.title}}</a>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <p style="white-space: pre-wrap;" class="font-weight-normal mb-0 text-center text-light flex-grow-0">{{resumedProject.resume}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-12" *ngIf="odd">
                    <img class="my-3 mr-3 rounded-circle background" src="{{resumedProject.cardPicture}}" width="120" height="120" alt="">
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 91px;"></div>
  </div>
</ng-container>