// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fabricia-primary: mat.define-palette(mat.$indigo-palette);
$fabricia-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fabricia-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$fabricia-theme: mat.define-light-theme($fabricia-primary, $fabricia-accent, $fabricia-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fabricia-theme);

/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~animate.css";
@import "./node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss";

.scrollable {
  max-height: 553px;
  overflow-x: hidden;
}

.scrollable-horizontal {
  display: flex;
  height: 111px;
  max-width: 641px;
  overflow: hidden;
}

.audio-player {
  box-orient: horizontal;
  text-align: center;
  display: flex;
  flex-flow: row;
  width: 100%;

  .album-image {
    min-height: 100px;
    width: 100px;
    background-size: cover;
  }

  .player-controls {
    align-items: center;
    justify-content: center;
    flex: 3;

    progress {
      width: 90%;
    }

    progress[value] {
      appearance: none;
      color: #007bff;
      height: 5px;
    }

    progress[value]::-webkit-progress-bar {
      color: #007bff;
    }

    progress[value]::-moz-progress-bar {
      color: #007bff;
    }

    progress::-webkit-progress-value {
      color: #007bff;
    }

    progress::-moz-progress-value {
      color: #007bff;
    }

    p {
      color: white;
      font-size: 1.6rem;
    }
  }

  #play-btn {
    font-size: 100px;
    color: white;
    width: 75px;
    height: 75px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
