<ng-container *ngIf="pictureArrays?.length">
  <div class="px-2">
    <div class="justify-content-center align-items-center container my-3">
      <div class="row pi-draggable" draggable="true">
        <div class="col-md-8 col-lg-8 col-sm-12 col-12 pl-2">
          <div *ngIf="pictureArrays?.length; then selectedPictureBlock else loadingSelectedPictureBlock"></div>
          <ng-template #selectedPictureBlock>
            <div class="row">
              <div class="container">
                <div class="text-center col-md-12 col-12 col-sm-12 col-lg-12">
                  <h1 class="text-white mx-3">{{selectedAlbum.title}}</h1>
                </div>
                <div class="row">
                  <div class="d-flex justify-content-center col-md-12 col-12 col-sm-12 col-lg-12">
                    <div class="w-auto">
                      <div class="img-thumbnail">
                        <img style="width: 100%;" src="{{selectedPicture.pathUrl}}" id="shownPhoto" alt="{{selectedPicture.title}}">
                        <div class="caption">
                          <p>Fotografia: {{selectedPicture.credits}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 col-sm-12 col-lg-12 my-3">
                <div *ngIf="selectedAlbum.pictureArrays?.length then carouselBlock else loadingCarouselBlock"></div>
                <ng-template #carouselBlock>
                  <div id="carousel" class="carousel slide pi-draggable" data-ride="carousel" draggable="true" data-interval="false">
                    <div class="carousel-inner">
                      <div *ngFor="let pictureArray of selectedAlbum.pictureArrays" [ngClass]="pictureArray.active ? 'carousel-item active': 'carousel-item'" class="px-2">
                        <div class="pi-draggable" draggable="true">
                          <div class="container-fluid">
                            <div class="row">
                              <div *ngFor="let picture of pictureArray.picture" class="col-lg-3 col-3 col-md-3 col-sm-3 px-1" (click)="getPicture(picture.id)" height="97px" width="173px" style="overflow: hidden; display: block ruby;">
                                <img height="97px" width="173px" src="{{picture.pathUrl}}?auto=format&fit=crop&w=750&q=80" class="d-block rounded" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="selectedAlbum.pictureArrays.length > 0">
                      <a class="carousel-control-prev pr-5 mr-1" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next pl-5 ml-1" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon text-white"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </ng-container>
                  </div>
                </ng-template>
                <ng-template #loadingCarouselBlock>
                  <h1 class="text-white">Carregando fotos do album...</h1>
                </ng-template>               
              </div>
            </div>
          </ng-template>
          <ng-template #loadingSelectedPictureBlock>
            <h1 class="text-white">Carregando album...</h1>
          </ng-template>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-sm-12 justify-content-center text-center">
          <div class="row text-center">
            <div class="col-12 text-center">
              <div class="row pi-draggable text-center">
                <h3 class="pi-draggable text-white text-center pl-3 mx-3">Fotos de Outros Eventos</h3>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row pi-draggable" draggable="true">
              <div data-simplebar data-simplebar-auto-hide="false" class="col-12 scrollable ">

                <div *ngFor="let album of albums" class="btn-dark btn-block btn-lg">
                  <div class="pi-draggable" draggable="true">
                    <div class="container" (click)="getAlbum(album.id)">
                      <div class="row">
                        <div class="text-center col-12">
                          <h5 class="text-white">{{album.title}}</h5>
                        </div>
                      </div>
                      <div class="row justify-content-around">
                        <ng-container *ngIf="album.pictures[0]?.pathUrl">
                          <div class="col-4 col-lg-4 col-md-5 col-sm-4 m-0 px-0 py-2 justify-content-center">
                            <img class="rounded" height="50px" width="65px" src="{{album.pictures[0].pathUrl}}" alt="">
                          </div>
                        </ng-container>
                        <ng-container *ngIf="album.pictures[1]?.pathUrl">
                          <div class="col-4 col-lg-4 col-md-5 col-sm-4 m-0 px-0 py-2 justify-content-center">
                            <img class="rounded" height="50px" width="65px" src="{{album.pictures[1].pathUrl}}" alt="">
                          </div>
                        </ng-container>
                        <ng-container *ngIf="album.pictures[2]?.pathUrl">
                          <div class="col-4 col-lg-4 col-md-5 col-sm-4 m-0 px-0 py-2 justify-content-center">
                            <img class="rounded" height="50px" width="65px" src="{{album.pictures[2].pathUrl}}" alt="">
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 92px;"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</ng-container>